.reviewer_section{
    background-color: #;
    .reviewer-thema{
        font-family: Esteban;
        font-size: 40px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: center;

        font-family: Mr De Haviland;
        font-size: 65px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: center;

        font-family: Gabriela;
        font-size: 40px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: center;

    }
}